@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@plugin "daisyui"{
    themes:all
};

@theme{
    --font-base: 'Geist', sans-serif;
    --color-wecours: #004aad;
}