<!DOCTYPE html>
<html class="font-base">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		{# Navbar #}
		<div class="w-full shadow-sm">
			<nav
				class="relative container mx-auto p-6 bg-cyan-400">
				<!-- Flex Container For All Items -->
				<div
					class="flex items-center justify-between">
					<!-- Flex Container For Logo/Menu -->
					<div
						class="flex items-center space-x-20">
						<!-- Logo -->
						<img
						src="{{asset('/assets/media/images/logo.jpg')}}" alt="logo_wecours" class="">
						<!-- Left Menu -->
						<div class="hidden space-x-8 font-bold lg:flex">
							<a href="#" class="">Cours</a>
							<a href="#" class="">A propos</a>
							<a href="#" class="">Nous contacter</a>
						</div>
					</div>

					<!-- Right Buttons Menu -->
					<div class="hidden items-center space-x-6 font-bold text-grayishViolet lg:flex">
						<div class="hover:text-veryDarkViolet">Se connecter</div>
						<a href="#" class="px-8 py-3 font-bold text-white bg-primary rounded-full hover:opacity-70">S'inscrire</a>
					</div>

					<!-- Hamburger Button -->
					<button id="menu-btn" class="block hamburger lg:hidden focus:outline-none" type="button">
						<span class="hamburger-top"></span>
						<span class="hamburger-middle"></span>
						<span class="hamburger-bottom"></span>
					</button>
				</div>

				<!-- Mobile Menu -->
				<div id="menu" class="absolute hidden p-6 rounded-lg bg-darkViolet left-6 right-6 top-20 z-100">
					<div class="flex flex-col items-center justify-center w-full space-y-6 font-bold text-white rounded-sm">
						<a href="#" class="w-full text-center">Features</a>
						<a href="#" class="w-full text-center">Pricing</a>
						<a href="#" class="w-full text-center">Resources</a>
						<a href="#" class="w-full pt-6 border-t border-gray-400 text-center">Login</a>
						<a href="#" class="w-full py-3 text-center rounded-full bg-cyan">Sign Up</a>
					</div>
				</div>
			</nav>
		</div>
		{# EndNavbar #}


		{% block body %}{% endblock %}
	</body>
</html>
